body{

    background-color: #111011;
    width: 100%;
    height: 100%;
}
li{
    list-style-type: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title{
    margin-left: 2rem;
}