.form-text{
    padding-left: 2rem;
}
form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 2rem;
    align-items: left;
    width: 400px;
}
input{
    border: none;
    border-radius: 20px;
    width: 300px;
    height: 30px;
    padding-left: 30px;
}
.submit{
    border: none;
    border-radius: 20px;
    height: 30px;
    width: 150px;
    background: #c1729d;
    color: aliceblue;
    cursor: pointer;
    margin-left: 12px;
}
.submit:hover{
    background: #cf7aa9;
}
.footer{
    justify-items: center;
}
#message{
    height: 100px;

}
@media (max-width:425px){
    form{
        width: 150px;
    }
    input{
        width: 150px;
    }
    .contact-section{
        width: 150px;
    }
    .contact-form{
        width: 150px;
    }
    label{
        width: 150px;
    }
    input{
        width: 150px;
    }
    .copywirite{
        font-size: 12px;
    }
}
